@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', arial;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #F2C2D4;
}

body::-webkit-scrollbar{
    display: none;
}

.mural, .mural2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mural{
    padding-bottom: 80px;
}

.mural2{
    padding-top: 20px;
}

.conteiner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transform: translateY(-15%);
}

.envelope {
    background-color: hsl(343, 45%, 58%);
    width: 300px;
    height: 200px;
    position: relative;
    transform: translateY(20%);
}

.cima {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #F27398;
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: 1;
}

.baixo {
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 110px solid #F581A4;
    position: absolute;
    bottom: 0; 
    left: 0; 
    z-index: 4;
}

.lado {
    display: flex;
    position: absolute;
    top: 0px; 
    left: 0; 
    z-index: 4;
}

.ld {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-left: 150px solid #F7A3BB;
}

.le {
    width: 0;
    height: 0;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    border-right: 150px solid #F7A3BB;
}

#papel {
    display: none; 
    background-color: rgb(235, 232, 232);
    color: rgb(243, 129, 148);
    width: 240px;
    height: 190px;
    padding: 10px;
    font-size: 1.2rem;
    position: absolute;
    top: 0px; 
    left: 30px; 
    z-index: 3; 
}

.buttons {
    display: flex;
    gap: 20px;
}

.open, .close {
    width: 130px;
    text-align: center;
    background-color: #F27398;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.open:hover, .close:hover {
    transform: translate(-2px, -2px);
    transition: transform .5s ease;
}

img {
    width: 120px;
    transform: translate(3%, -140%);
    z-index: 4;
}

.imagem{
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 300px;
    transform: translate(0%, 0%);
    z-index: 0;
}

#hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Para que os corações não interfiram com outros elementos */
}

.coracao {
    position: absolute;
    opacity: 0.8; /* Opacidade do emoji */
    animation: subir 3s ease-in forwards; /* Animação de subida */
    font-size: 30px; /* Tamanho do emoji */
}

@keyframes subir {
    0% {
        transform: translateY(100vh); /* Começa fora da tela */
        opacity: 0.8; /* Opacidade inicial */
    }
    100% {
        transform: translateY(-100px); /* Move para cima */
        opacity: 0; /* Desaparece */
    }
}


iframe{
    z-index: 5;
    width: 320px;
    height: 120px;
    padding:20px;
}